<div class="wrapper">
    <div class="wrapper-div">
        <div class="tap-header">
            <h2 routerLink="/user/login" routerLinkActive="active">Sing In</h2>
            <h2 routerLink="/user/registration" routerLinkActive="active">Sing Up</h2>
            <div class="row">
                <div class="col-md-10 offset-md-1">
                    <router-outlet></router-outlet>
                </div>
            </div>
        </div>
    </div>
</div>