<nav class="navbar navbar-dark bg-dark">
  <a href="" class="navbar-brand text-white">JWT Auth System</a>
  <ul class="navbar-nav mr-auto">
    <li class="nav-item">
      <a href="" class="nav-link" routerLink="/adminpanel">Admin Panel</a>
    </li>
  </ul>
  <button class="btn btn-danger my-2 my-sm-0" (click)="onLogout()">Logout</button>
</nav>

<div class="card m-5" style="width: 18rem;" *ngIf="userDetails">
  <ul class="list-group">
    <li class="list-group-item"><strong>Username:</strong> {{userDetails.userName}}</li>
    <li class="list-group-item"><strong>Fullname:</strong> {{userDetails.fullName}}</li>
    <li class="list-group-item"><strong>Email:</strong> {{userDetails.email}}</li>
  </ul>
</div>